In [8]:
import pandas as pd

In [16]:
# The path to our CSV file
merged_data = "Bakers_Island_Data/221315.csv"

# Read our Crowdfunding data into pandas
merged_df = pd.read_csv(merged_data, error_bad_lines=False)
merged_df.head(50)

C:\Users\katel\AppData\Local\Temp\ipykernel_31388\875936951.py:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  merged_df = pd.read_csv(merged_data, error_bad_lines=False)
Skipping line 8643: expected 65 fields, saw 66

Skipping line 17382: expected 65 fields, saw 66

Skipping line 26216: expected 65 fields, saw 66

Skipping line 35049: expected 65 fields, saw 66

Skipping line 43689: expected 65 fields, saw 66

Skipping line 52429: expected 65 fields, saw 66

Skipping line 61264: expected 65 fields, saw 66

Skipping line 70096: expected 65 fields, saw 66

Skipping line 78832: expected 65 fields, saw 66

Skipping line 87568: expected 65 fields, saw 66

Skipping line 96404: expected 65 fields, saw 66

Skipping line 105236: expected 65 fields, saw 66

Skipping line 113876: expected 65 fields, saw 66

Skipping line 122615: expected 65 fields, saw 66

Skipping line 131451: expected 65 fields, saw 66

Skipping line 140286: expected 65 fields, saw 66

Skipping line 148926: expected 65 fields, saw 66

Skipping line 157663: expected 65 fields, saw 66

Skipping line 166498: expected 65 fields, saw 66

C:\Users\katel\AppData\Local\Temp\ipykernel_31388\875936951.py:5: DtypeWarning: Columns (3,17,24,25,27,29,31,33,35,37,39,41,43,45,47,51,53,55,57,59,61,63) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv(merged_data, error_bad_lines=False)

,DateTimeStamp,LKSPOMET_Station_Code,LKSPOMET_isSWMP,LKSPOMET_F_Record,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSPOMET_RH,LKSPOMET_F_RH,LKSPOMET_BP,LKSPOMET_F_BP,...,LKSBANUT_F_NH4F,LKSBANUT_NO2F,LKSBANUT_F_NO2F,LKSBANUT_NO3F,LKSBANUT_F_NO3F,LKSBANUT_NO23F,LKSBANUT_F_NO23F,LKSBANUT_CHLA_N,LKSBANUT_F_CHLA_N,Unnamed: 64
0,01/01/2018 0:00,LKSPOMET,P,{CSM},-24.5,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2018 0:15,LKSPOMET,P,{CSM},-24.7,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2018 0:30,LKSPOMET,P,{CSM},-24.8,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2018 0:45,LKSPOMET,P,{CSM},-25.0,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2018 1:00,LKSPOMET,P,{CSM},-25.2,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01/01/2018 1:15,LKSPOMET,P,{CSM},-25.2,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,01/01/2018 1:30,LKSPOMET,P,{CSM},-25.4,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,01/01/2018 1:45,LKSPOMET,P,{CSM},-25.6,<0>,68.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,01/01/2018 2:00,LKSPOMET,P,{CSM},-25.8,<0>,68.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,01/01/2018 2:15,LKSPOMET,P,{CSM},-26.2,<0>,69.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,01/01/2018 2:30,LKSPOMET,P,{CSM},-26.4,<0>,70.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,01/01/2018 2:45,LKSPOMET,P,{CSM},-26.7,<0>,71.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,01/01/2018 3:00,LKSPOMET,P,{CSM},-26.5,<0>,70.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,01/01/2018 3:15,LKSPOMET,P,{CSM},-26.5,<0>,70.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,01/01/2018 3:30,LKSPOMET,P,{CSM},-26.8,<0>,70.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,01/01/2018 3:45,LKSPOMET,P,{CSM},-27.2,<0>,72.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,01/01/2018 4:00,LKSPOMET,P,{CSM},-27.1,<0>,72.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,01/01/2018 4:15,LKSPOMET,P,{CSM},-27.4,<0>,72.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,01/01/2018 4:30,LKSPOMET,P,{CSM},-27.3,<0>,72.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,01/01/2018 4:45,LKSPOMET,P,{CSM},-27.3,<0>,72.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,01/01/2018 5:00,LKSPOMET,P,{CSM},-27.3,<0>,72.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,01/01/2018 5:15,LKSPOMET,P,{CSM},-27.4,<0>,73.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,01/01/2018 5:30,LKSPOMET,P,{CSM},-27.8,<0>,73.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,01/01/2018 5:45,LKSPOMET,P,{CSM},-28.3,<0>,74.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,01/01/2018 6:00,LKSPOMET,P,{CSM},-29.0,<0>,75.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,01/01/2018 6:15,LKSPOMET,P,{CSM},-29.1,<0>,77.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,01/01/2018 6:30,LKSPOMET,P,{CSM},-29.2,<0>,77.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,01/01/2018 6:45,LKSPOMET,P,{CSM},-28.9,<0>,76.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,01/01/2018 7:00,LKSPOMET,P,{CSM},-29.0,<0>,76.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,01/01/2018 7:15,LKSPOMET,P,{CSM},-29.1,<0>,76.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,01/01/2018 7:30,LKSPOMET,P,{CSM},-29.1,<0>,75.0,<0>,1042.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,01/01/2018 7:45,LKSPOMET,P,{CSM},-29.0,<0>,75.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,01/01/2018 8:00,LKSPOMET,P,{CSM},-28.7,<0>,74.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,01/01/2018 8:15,LKSPOMET,P,{CSM},-28.5,<0>,74.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,01/01/2018 8:30,LKSPOMET,P,{CSM},-28.3,<0>,74.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,01/01/2018 8:45,LKSPOMET,P,{CSM},-27.9,<0>,73.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,01/01/2018 9:00,LKSPOMET,P,{CSM},-27.4,<0>,72.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,01/01/2018 9:15,LKSPOMET,P,{CSM},-26.8,<0>,70.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,01/01/2018 9:30,LKSPOMET,P,{CSM},-26.1,<0>,68.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,01/01/2018 9:45,LKSPOMET,P,{CSM},-25.4,<0>,66.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,01/01/2018 10:00,LKSPOMET,P,{CSM},-24.7,<0>,65.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,01/01/2018 10:15,LKSPOMET,P,{CSM},-24.0,<0>,63.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,01/01/2018 10:30,LKSPOMET,P,{CSM},-23.1,<0>,62.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,01/01/2018 10:45,LKSPOMET,P,{CSM},-22.2,<0>,60.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,01/01/2018 11:00,LKSPOMET,P,{CSM},-21.2,<0>,59.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,01/01/2018 11:15,LKSPOMET,P,{CSM},-20.3,<0>,57.0,<0>,1041.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,01/01/2018 11:30,LKSPOMET,P,{CSM},-19.6,<0>,56.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,01/01/2018 11:45,LKSPOMET,P,{CSM},-18.6,<0>,54.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,01/01/2018 12:00,LKSPOMET,P,{CSM},-18.5,<0>,53.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,01/01/2018 12:15,LKSPOMET,P,{CSM},-17.6,<0>,51.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Get a list of all of our columns for easy reference
merged_df.columns

Index(['DateTimeStamp', 'LKSPOMET_Station_Code', 'LKSPOMET_isSWMP',
       'LKSPOMET_F_Record', 'LKSPOMET_ATemp', 'LKSPOMET_F_ATemp',
       'LKSPOMET_RH', 'LKSPOMET_F_RH', 'LKSPOMET_BP', 'LKSPOMET_F_BP',
       'LKSPOMET_WSpd', 'LKSPOMET_F_WSpd', 'LKSPOMET_MaxWSpd', 'LKSPOMET_Wdir',
       'LKSPOMET_F_Wdir', 'LKSPOMET_SDWDir', 'LKSPOMET_F_SDWDir',
       'LKSPOMET_TotPAR', 'LKSPOMET_F_TotPAR', 'LKSPOMET_TotPrcp',
       'LKSPOMET_F_TotPrcp', 'LKSPOMET_TotSoRad', 'LKSPOMET_F_TotSoRad',
       'LKSBAWQ_Station_Code', 'LKSBAWQ_isSWMP', 'LKSBAWQ_F_Record',
       'LKSBAWQ_Temp', 'LKSBAWQ_F_Temp', 'LKSBAWQ_SpCond', 'LKSBAWQ_F_SpCond',
       'LKSBAWQ_Sal', 'LKSBAWQ_F_Sal', 'LKSBAWQ_DO_pct', 'LKSBAWQ_F_DO_pct',
       'LKSBAWQ_DO_mgl', 'LKSBAWQ_F_DO_mgl', 'LKSBAWQ_Depth',
       'LKSBAWQ_F_Depth', 'LKSBAWQ_cDepth', 'LKSBAWQ_F_cDepth', 'LKSBAWQ_pH',
       'LKSBAWQ_F_pH', 'LKSBAWQ_Turb', 'LKSBAWQ_F_Turb', 'LKSBAWQ_ChlFluor',
       'LKSBAWQ_F_ChlFluor', 'LKSBANUT_Station_Code', 'LKSBANUT_isSWMP',
       'LKSBANUT_DateTimeStamp', 'LKSBANUT_CollMethd', 'LKSBANUT_REP',
       'LKSBANUT_F_Record', 'LKSBANUT_PO4F', 'LKSBANUT_F_PO4F',
       'LKSBANUT_NH4F', 'LKSBANUT_F_NH4F', 'LKSBANUT_NO2F', 'LKSBANUT_F_NO2F',
       'LKSBANUT_NO3F', 'LKSBANUT_F_NO3F', 'LKSBANUT_NO23F',
       'LKSBANUT_F_NO23F', 'LKSBANUT_CHLA_N', 'LKSBANUT_F_CHLA_N',
       'Unnamed: 64'],
      dtype='object')

In [19]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks, -2=Missing Data, 5=Corrected Data)
data_quality_codes = ['<0>', '<0> [GMT]','<-2>','<-2> [GMT]','<-2> [GMC]', '<-2> [GPD](CSM)','<5>']
filtered_wqtemp_df = merged_df[merged_df['LKSPOMET_F_ATemp'].isin(data_quality_codes)]
filtered_wqtemp_df.head()

,DateTimeStamp,LKSPOMET_Station_Code,LKSPOMET_isSWMP,LKSPOMET_F_Record,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSPOMET_RH,LKSPOMET_F_RH,LKSPOMET_BP,LKSPOMET_F_BP,...,LKSBANUT_F_NH4F,LKSBANUT_NO2F,LKSBANUT_F_NO2F,LKSBANUT_NO3F,LKSBANUT_F_NO3F,LKSBANUT_NO23F,LKSBANUT_F_NO23F,LKSBANUT_CHLA_N,LKSBANUT_F_CHLA_N,Unnamed: 64
7532,03/20/2018 10:45,LKSPOMET,P,{CSM},NaN,<-2> [GMT],NaN,<-2> [GMT],NaN,<-2> [GMT],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7533,03/20/2018 11:00,LKSPOMET,P,{CSM},NaN,<-2> [GMT],NaN,<-2> [GMT],NaN,<-2> [GMT],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7534,03/20/2018 11:15,LKSPOMET,P,{CSM},NaN,<-2> [GMT],NaN,<-2> [GMT],NaN,<-2> [GMT],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7535,03/20/2018 11:30,LKSPOMET,P,{CSM},NaN,<-2> [GMT],NaN,<-2> [GMT],NaN,<-2> [GMT],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7536,03/20/2018 11:45,LKSPOMET,P,{CSM},NaN,<-2> [GMT],NaN,<-2> [GMT],NaN,<-2> [GMT],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
refined_df = merged_df[(['DateTimeStamp', 'LKSPOMET_Station_Code', 'LKSPOMET_isSWMP',
       'LKSPOMET_F_Record', 'LKSPOMET_ATemp', 'LKSPOMET_F_ATemp',
       'LKSPOMET_RH', 'LKSPOMET_F_RH', 'LKSPOMET_BP', 'LKSPOMET_F_BP',
       'LKSPOMET_WSpd', 'LKSPOMET_F_WSpd', 'LKSPOMET_MaxWSpd', 'LKSPOMET_Wdir',
       'LKSPOMET_F_Wdir', 'LKSPOMET_SDWDir', 'LKSPOMET_F_SDWDir',
       'LKSPOMET_TotPAR', 'LKSPOMET_F_TotPAR', 'LKSPOMET_TotPrcp',
       'LKSPOMET_F_TotPrcp', 'LKSPOMET_TotSoRad', 'LKSPOMET_F_TotSoRad',
       'LKSBAWQ_Station_Code', 'LKSBAWQ_isSWMP', 'LKSBAWQ_F_Record',
       'LKSBAWQ_Temp', 'LKSBAWQ_F_Temp', 'LKSBAWQ_SpCond', 'LKSBAWQ_F_SpCond',
       'LKSBAWQ_Sal', 'LKSBAWQ_F_Sal', 'LKSBAWQ_DO_pct', 'LKSBAWQ_F_DO_pct',
       'LKSBAWQ_DO_mgl', 'LKSBAWQ_F_DO_mgl', 'LKSBAWQ_Depth',
       'LKSBAWQ_F_Depth', 'LKSBAWQ_cDepth', 'LKSBAWQ_F_cDepth', 'LKSBAWQ_pH',
       'LKSBAWQ_F_pH', 'LKSBAWQ_Turb', 'LKSBAWQ_F_Turb', 'LKSBAWQ_ChlFluor',
       'LKSBAWQ_F_ChlFluor', 'LKSBANUT_Station_Code', 'LKSBANUT_isSWMP',
       'LKSBANUT_DateTimeStamp', 'LKSBANUT_CollMethd', 'LKSBANUT_REP',
       'LKSBANUT_F_Record', 'LKSBANUT_PO4F', 'LKSBANUT_F_PO4F',
       'LKSBANUT_NH4F', 'LKSBANUT_F_NH4F', 'LKSBANUT_NO2F', 'LKSBANUT_F_NO2F',
       'LKSBANUT_NO3F', 'LKSBANUT_F_NO3F', 'LKSBANUT_NO23F',
       'LKSBANUT_F_NO23F', 'LKSBANUT_CHLA_N', 'LKSBANUT_F_CHLA_N',
       'Unnamed: 64'],
      dtype='object')

,DateTimeStamp,Station_Code,SWMP_Indicator,Flag_Column,Average_Temp,Temp_Metadata_Notes,Average_Relative_Humiditiy,Humidity_Metadata_Notes,Average_Barometric_Pressure,Pressure_Metadata_Notes,...,LKSPONUT_F_NH4F,LKSPONUT_NO2F,LKSPONUT_F_NO2F,LKSPONUT_NO3F,LKSPONUT_F_NO3F,LKSPONUT_NO23F,LKSPONUT_F_NO23F,LKSPONUT_CHLA_N,LKSPONUT_F_CHLA_N,Unnamed: 187
0,01/01/2018 0:00,LKSPOMET,P,{CSM},-24.5,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2018 0:15,LKSPOMET,P,{CSM},-24.7,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2018 0:30,LKSPOMET,P,{CSM},-24.8,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2018 0:45,LKSPOMET,P,{CSM},-25.0,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2018 1:00,LKSPOMET,P,{CSM},-25.2,<0>,67.0,<0>,1040.0,<0>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Extract "name", "goal", "pledged", "outcome", "country", "staff_pick",
# "backers_count", and "spotlight"
##reduced_ps_df = df.loc[:, ["", "goal", "pledged",
                                    "outcome", "country", "staff_pick", "backers_count", "spotlight"]]
#reduced_crowdfunding_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
0,"Baldwin, Riley and Jackson",100,0,failed,CA,False,0,False
1,Odom Inc,1400,14560,successful,US,False,158,True
2,"Melton, Robinson and Fritz",108400,142523,successful,AU,False,1425,False
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
...,...,...,...,...,...,...,...,...
995,Manning-Hamilton,97300,153216,successful,US,False,2043,True
996,Butler LLC,6600,4814,failed,US,False,112,False
997,Ball LLC,7600,4603,canceled,IT,False,139,False
998,"Taylor, Santiago and Flores",66600,37823,failed,US,False,374,True
999,"Hernandez, Norton and Kelley",111100,62819,canceled,US,False,1122,False

In [5]:
# Remove projects that made no money at all
reduced_crowdfunding_df = reduced_crowdfunding_df.loc[(
    reduced_crowdfunding_df["pledged"] > 0)]
reduced_crowdfunding_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
1,Odom Inc,1400,14560,successful,US,False,158,True
2,"Melton, Robinson and Fritz",108400,142523,successful,AU,False,1425,False
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
5,Harris Group,7600,13195,successful,DK,False,174,False

In [6]:
# Collect only those projects that were hosted in the US.

# Create a list of the columns
columns = [
    "name", "goal", "pledged", "outcome", 
    "country", "staff_pick", "backers_count", "spotlight"]

#  Create a new df for "US" with the columns. 
hosted_in_us_df = reduced_crowdfunding_df.loc[reduced_crowdfunding_df["country"] == "US",  columns]
hosted_in_us_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight
1,Odom Inc,1400,14560,successful,US,False,158,True
3,"Mcdonald, Gonzalez and Ross",4200,2477,failed,US,False,24,False
4,Larson-Little,7600,5265,failed,US,False,53,False
9,"Rangel, Holt and Jones",6200,3208,failed,US,False,44,False
10,Green Ltd,5200,13838,successful,US,False,220,False

In [7]:
# Create a new column that finds the average amount pledged to a project
average_donation = hosted_in_us_df['pledged'] / hosted_in_us_df['backers_count']
average_donation

1       92.151899
3      103.208333
4       99.339623
9       72.909091
10      62.900000
          ...
994     87.972684
995     74.995595
996     42.982143
998    101.131016
999     55.988414
Length: 762, dtype: float64

In [8]:
# Create a new column that finds the average amount pledged to a project
hosted_in_us_df["average_donation"] = hosted_in_us_df['pledged'] / \
    hosted_in_us_df['backers_count']

In [9]:
# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

hosted_in_us_df["average_donation"] = hosted_in_us_df["average_donation"].astype(float).map(
    "${:,.2f}".format)
hosted_in_us_df["goal"] = hosted_in_us_df["goal"].astype(float).map("${:,.2f}".format)
hosted_in_us_df["pledged"] = hosted_in_us_df["pledged"].astype(float).map("${:,.2f}".format)

In [10]:
hosted_in_us_df.head()

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
1,Odom Inc,"$1,400.00","$14,560.00",successful,US,False,158,True,$92.15
3,"Mcdonald, Gonzalez and Ross","$4,200.00","$2,477.00",failed,US,False,24,False,$103.21
4,Larson-Little,"$7,600.00","$5,265.00",failed,US,False,53,False,$99.34
9,"Rangel, Holt and Jones","$6,200.00","$3,208.00",failed,US,False,44,False,$72.91
10,Green Ltd,"$5,200.00","$13,838.00",successful,US,False,220,False,$62.90

In [11]:
# Calculate the total number of backers for all US projects
hosted_in_us_df["backers_count"].sum()

545510

In [12]:
# Calculate the average number of backers for all US projects
hosted_in_us_df["backers_count"].mean()

715.8923884514436

In [13]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
picked_by_staff_df = hosted_in_us_df.loc[hosted_in_us_df["staff_pick"] == True]
picked_by_staff_df

,name,goal,pledged,outcome,country,staff_pick,backers_count,spotlight,average_donation
76,"Martin, Conway and Larsen","$122,900.00","$95,993.00",failed,US,True,1684,True,$57.00
86,Davis-Smith,"$7,400.00","$12,405.00",successful,US,True,203,False,$61.11
193,"Calhoun, Rogers and Long","$6,600.00","$3,012.00",failed,US,True,65,False,$46.34
205,Weaver-Marquez,"$1,300.00","$5,614.00",successful,US,True,80,False,$70.17
220,Owens-Le,"$7,900.00",$667.00,failed,US,True,17,False,$39.24
221,Huff LLC,"$121,500.00","$119,830.00",failed,US,True,2179,False,$54.99
225,Fox-Quinn,"$67,800.00","$176,398.00",successful,US,True,5880,False,$30.00
259,Watkins Ltd,"$1,800.00","$10,755.00",successful,US,True,138,False,$77.93
291,"Bell, Grimes and Kerr","$1,800.00","$8,219.00",successful,US,True,107,False,$76.81
384,"Baker, Collins and Smith","$114,400.00","$196,779.00",successful,US,True,4799,True,$41.00
395,Taylor PLC,"$7,100.00","$9,238.00",successful,US,True,220,False,$41.99
406,Lyons Inc,"$39,300.00","$71,583.00",successful,US,True,645,False,$110.98
431,Rosales LLC,"$5,100.00","$9,817.00",successful,US,True,94,False,$104.44
492,Garcia Group,"$191,000.00","$45,831.00",canceled,US,True,595,True,$77.03
601,Waters and Sons,"$6,300.00","$13,018.00",successful,US,True,194,False,$67.10
619,Case LLC,"$195,900.00","$55,757.00",failed,US,True,648,True,$86.04
648,Vargas-Cox,"$98,600.00","$62,174.00",canceled,US,True,723,False,$85.99
655,"Gonzalez, Williams and Benson","$6,900.00","$13,212.00",successful,US,True,264,False,$50.05
660,Jensen-Brown,"$9,100.00","$7,438.00",failed,US,True,77,False,$96.60
691,"Ray, Li and Li","$5,000.00","$7,119.00",successful,US,True,237,True,$30.04
701,Mcclain LLC,"$52,000.00","$91,014.00",successful,US,True,820,False,$110.99
703,Perez Group,"$63,400.00","$197,728.00",successful,US,True,2038,True,$97.02
751,Lane-Barber,"$3,600.00","$8,363.00",successful,US,True,270,True,$30.97
765,Matthews LLC,"$3,900.00","$8,125.00",successful,US,True,198,True,$41.04
816,"Jones, Casey and Jones","$2,300.00","$14,150.00",successful,US,True,133,True,$106.39
819,Buck-Khan,"$8,900.00","$4,509.00",failed,US,True,47,False,$95.94
823,Dyer Inc,"$4,100.00","$14,640.00",successful,US,True,252,True,$58.10
846,"Cooper, Stanley and Bryant","$1,000.00","$5,085.00",successful,US,True,48,True,$105.94
850,"Hood, Perez and Meadows",$100.00,$1.00,failed,US,True,1,False,$1.00
858,"Ayala, Crawford and Taylor","$4,000.00","$2,778.00",failed,US,True,35,False,$79.37
906,Hayes Group,"$5,500.00","$8,964.00",successful,US,True,191,True,$46.93
911,"Carter, Cole and Curtis","$5,800.00","$11,539.00",successful,US,True,462,False,$24.98
912,Sanchez-Parsons,"$1,800.00","$14,310.00",successful,US,True,179,False,$79.94
920,"Green, Murphy and Webb","$5,300.00","$9,676.00",successful,US,True,255,False,$37.95
936,Brown Ltd,"$103,200.00","$1,690.00",failed,US,True,21,False,$80.48
941,Luna-Horne,"$43,000.00","$5,615.00",failed,US,True,78,False,$71.99
945,"Sanders, Farley and Huffman","$172,000.00","$55,805.00",failed,US,True,1691,False,$33.00
948,Smith-Hill,"$9,400.00","$5,918.00",canceled,US,True,160,True,$36.99
980,Huff-Johnson,"$195,200.00","$78,630.00",failed,US,True,742,False,$105.97

In [14]:
# Group by the outcome of the campaigns and see if staff picks matter (Seems to matter quite a bit)
outcome_groups = picked_by_staff_df.groupby("outcome")
outcome_groups["name"].count()

outcome
canceled       3
failed        13
successful    23
Name: name, dtype: int64