In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
merged_data = "Bakers_Island_Data/221315.csv"

# Read our Crowdfunding data into pandas
merged_df = pd.read_csv(merged_data, error_bad_lines=False)
merged_df.head()
len(merged_df)

C:\Users\katel\AppData\Local\Temp\ipykernel_34104\462669636.py:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  merged_df = pd.read_csv(merged_data, error_bad_lines=False)
Skipping line 8643: expected 65 fields, saw 66

Skipping line 17382: expected 65 fields, saw 66

Skipping line 26216: expected 65 fields, saw 66

Skipping line 35049: expected 65 fields, saw 66

Skipping line 43689: expected 65 fields, saw 66

Skipping line 52429: expected 65 fields, saw 66

Skipping line 61264: expected 65 fields, saw 66

Skipping line 70096: expected 65 fields, saw 66

Skipping line 78832: expected 65 fields, saw 66

Skipping line 87568: expected 65 fields, saw 66

Skipping line 96404: expected 65 fields, saw 66

Skipping line 105236: expected 65 fields, saw 66

Skipping line 113876: expected 65 fields, saw 66

Skipping line 122615: expected 65 fields, saw 66

Skipping line 131451: expected 65 fields, saw 66

Skipping line 140286: expected 65 fields, saw 66

Skipping line 148926: expected 65 fields, saw 66

Skipping line 157663: expected 65 fields, saw 66

Skipping line 166498: expected 65 fields, saw 66

C:\Users\katel\AppData\Local\Temp\ipykernel_34104\462669636.py:5: DtypeWarning: Columns (3,17,24,25,27,29,31,33,35,37,39,41,43,45,47,51,53,55,57,59,61,63) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv(merged_data, error_bad_lines=False)

175310

In [3]:
# Get a list of all of our columns for easy reference
merged_df.columns

Index(['DateTimeStamp', 'LKSPOMET_Station_Code', 'LKSPOMET_isSWMP',
       'LKSPOMET_F_Record', 'LKSPOMET_ATemp', 'LKSPOMET_F_ATemp',
       'LKSPOMET_RH', 'LKSPOMET_F_RH', 'LKSPOMET_BP', 'LKSPOMET_F_BP',
       'LKSPOMET_WSpd', 'LKSPOMET_F_WSpd', 'LKSPOMET_MaxWSpd', 'LKSPOMET_Wdir',
       'LKSPOMET_F_Wdir', 'LKSPOMET_SDWDir', 'LKSPOMET_F_SDWDir',
       'LKSPOMET_TotPAR', 'LKSPOMET_F_TotPAR', 'LKSPOMET_TotPrcp',
       'LKSPOMET_F_TotPrcp', 'LKSPOMET_TotSoRad', 'LKSPOMET_F_TotSoRad',
       'LKSBAWQ_Station_Code', 'LKSBAWQ_isSWMP', 'LKSBAWQ_F_Record',
       'LKSBAWQ_Temp', 'LKSBAWQ_F_Temp', 'LKSBAWQ_SpCond', 'LKSBAWQ_F_SpCond',
       'LKSBAWQ_Sal', 'LKSBAWQ_F_Sal', 'LKSBAWQ_DO_pct', 'LKSBAWQ_F_DO_pct',
       'LKSBAWQ_DO_mgl', 'LKSBAWQ_F_DO_mgl', 'LKSBAWQ_Depth',
       'LKSBAWQ_F_Depth', 'LKSBAWQ_cDepth', 'LKSBAWQ_F_cDepth', 'LKSBAWQ_pH',
       'LKSBAWQ_F_pH', 'LKSBAWQ_Turb', 'LKSBAWQ_F_Turb', 'LKSBAWQ_ChlFluor',
       'LKSBAWQ_F_ChlFluor', 'LKSBANUT_Station_Code', 'LKSBANUT_isSWMP',
       'LKSBANUT_DateTimeStamp', 'LKSBANUT_CollMethd', 'LKSBANUT_REP',
       'LKSBANUT_F_Record', 'LKSBANUT_PO4F', 'LKSBANUT_F_PO4F',
       'LKSBANUT_NH4F', 'LKSBANUT_F_NH4F', 'LKSBANUT_NO2F', 'LKSBANUT_F_NO2F',
       'LKSBANUT_NO3F', 'LKSBANUT_F_NO3F', 'LKSBANUT_NO23F',
       'LKSBANUT_F_NO23F', 'LKSBANUT_CHLA_N', 'LKSBANUT_F_CHLA_N',
       'Unnamed: 64'],
      dtype='object')

In [4]:
#Create data frame of prioritized data elements for analysis (water temp, water salinitiy, water depth, water pH, and total precipitation)
new_df = merged_df[['LKSPOMET_ATemp', 'LKSPOMET_F_ATemp', 
                    'LKSBAWQ_Temp', 'LKSBAWQ_F_Temp',
                    'LKSBAWQ_Sal', 'LKSBAWQ_F_Sal',
                   'LKSBAWQ_Depth','LKSBAWQ_F_Depth', 
                    'LKSBAWQ_pH','LKSBAWQ_F_pH', 
                   'LKSPOMET_TotPrcp','LKSPOMET_F_TotPrcp',
                    'LKSBAWQ_Turb', 'LKSBAWQ_F_Turb'
                   ]]
new_df.head()

,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSBAWQ_Temp,LKSBAWQ_F_Temp,LKSBAWQ_Sal,LKSBAWQ_F_Sal,LKSBAWQ_Depth,LKSBAWQ_F_Depth,LKSBAWQ_pH,LKSBAWQ_F_pH,LKSPOMET_TotPrcp,LKSPOMET_F_TotPrcp,LKSBAWQ_Turb,LKSBAWQ_F_Turb
0,-24.5,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
1,-24.7,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
2,-24.8,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
3,-25.0,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
4,-25.2,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]

In [5]:
# Check air temperature column values 

#metTemp_Values = new_df['LKSPOMET_F_ATemp'].values.tolist()
#print(metTemp_Values)

In [6]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data)
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
filtered_mettemp_df = new_df[new_df['LKSPOMET_F_ATemp'].isin(quality_codes)]
#filtered_mettemp_df.head()
len(filtered_mettemp_df)

159772

In [7]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data)
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
wqtemp_df = filtered_mettemp_df[filtered_mettemp_df['LKSBAWQ_F_Temp'].isin(quality_codes)]
#wqtemp_df.head()
len(wqtemp_df)

90441

In [10]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSBAWQ_F_Depth
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
depth_df = sal_df[sal_df['LKSBAWQ_F_Depth'].isin(quality_codes)]
#depth_df.head()
len(depth_df)

84272

In [11]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSBAWQ_F_pH
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
pH_df = depth_df[depth_df['LKSBAWQ_F_pH'].isin(quality_codes)]
#pH_df.head()
len(pH_df)

80417

In [13]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSPOMET_F_TotPrcp
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
precip_df = pH_df[pH_df['LKSPOMET_F_TotPrcp'].isin(quality_codes)]
#precip_df.head()
len(precip_df)

63711

In [14]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSBAWQ_F_Turb
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
turbidity_df = precip_df[precip_df['LKSBAWQ_F_Turb'].isin(quality_codes)]
#turbidity_df.head()
len(turbidity_df)

59231

In [15]:
#Check dataframe
turbidity_df.head()

,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSBAWQ_Temp,LKSBAWQ_F_Temp,LKSBAWQ_Sal,LKSBAWQ_F_Sal,LKSBAWQ_Depth,LKSBAWQ_F_Depth,LKSBAWQ_pH,LKSBAWQ_F_pH,LKSPOMET_TotPrcp,LKSPOMET_F_TotPrcp,LKSBAWQ_Turb,LKSBAWQ_F_Turb
14454,23.9,<0>,17.2,<0>,0.1,<0>,1.49,<0>,7.8,<0>,0.0,<0>,15.0,<0>
14455,24.0,<0>,17.2,<0>,0.1,<0>,1.51,<0>,7.8,<0>,0.0,<0>,15.0,<0>
14456,23.9,<0>,17.3,<0>,0.1,<0>,1.53,<0>,7.8,<0>,0.0,<0>,15.0,<0>
14457,24.2,<0>,17.4,<0>,0.1,<0>,1.55,<0>,7.8,<0>,0.0,<0>,14.0,<0>
14458,24.4,<0>,17.4,<0>,0.1,<0>,1.58,<0>,7.8,<0>,0.0,<0>,15.0,<0>

In [19]:
#Establish new dataframe dropping the metadata values which are no longer needed
new_turbidity_df = merged_df[[
                    'LKSPOMET_TotPrcp',
                    'LKSPOMET_ATemp', 
                    'LKSBAWQ_Temp', 
                    'LKSBAWQ_Sal', 
                   'LKSBAWQ_Depth',
                    'LKSBAWQ_pH',
                    'LKSBAWQ_Turb', 
                   ]]
new_turbidity_df.head(100)

,LKSPOMET_TotPrcp,LKSPOMET_ATemp,LKSBAWQ_Temp,LKSBAWQ_Sal,LKSBAWQ_Depth,LKSBAWQ_pH,LKSBAWQ_Turb
0,0.0,-24.5,NaN,NaN,NaN,NaN,NaN
1,0.0,-24.7,NaN,NaN,NaN,NaN,NaN
2,0.0,-24.8,NaN,NaN,NaN,NaN,NaN
3,0.0,-25.0,NaN,NaN,NaN,NaN,NaN
4,0.0,-25.2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
95,0.0,-18.2,NaN,NaN,NaN,NaN,NaN
96,0.0,-18.1,NaN,NaN,NaN,NaN,NaN
97,0.0,-18.2,NaN,NaN,NaN,NaN,NaN
98,0.0,-18.0,NaN,NaN,NaN,NaN,NaN
99,0.0,-17.8,NaN,NaN,NaN,NaN,NaN

In [20]:
#Export cleaned filtered data to new csv
new_turbidity_df.to_csv('turbidity_df.csv')