In [4]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [5]:
# Import packages
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "turbidity_df3.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("turbidity_df3.csv"), header=True, inferSchema=True)

# Show DataFrame
df.show()

+-----+----------+-------------------+--------------+----------------+----------------+------------------+------------+--------------+-----------+-------------+-------------+---------------+----------+------------+------------+--------------+---------------+
|  _c0|      Date|               Time|LKSPOMET_ATemp|LKSPOMET_F_ATemp|LKSPOMET_TotPrcp|LKSPOMET_F_TotPrcp|LKSBAWQ_Temp|LKSBAWQ_F_Temp|LKSBAWQ_Sal|LKSBAWQ_F_Sal|LKSBAWQ_Depth|LKSBAWQ_F_Depth|LKSBAWQ_pH|LKSBAWQ_F_pH|LKSBAWQ_Turb|LKSBAWQ_F_Turb|Turbidity_Range|
+-----+----------+-------------------+--------------+----------------+----------------+------------------+------------+--------------+-----------+-------------+-------------+---------------+----------+------------+------------+--------------+---------------+
|14454|05/31/2018|2023-06-04 13:00:00|          23.9|            <0> |             0.0|              <0> |        17.2|          <0> |        0.1|         <0> |         1.49|           <0> |       7.8|        <0> |        15.0|          <0> |          </=15|
|14455|05/31/2018|2023-06-04 13:15:00|          24.0|            <0> |             0.0|              <0> |        17.2|          <0> |        0.1|         <0> |         1.51|           <0> |       7.8|        <0> |        15.0|          <0> |          </=15|
|14456|05/31/2018|2023-06-04 13:30:00|          23.9|            <0> |             0.0|              <0> |        17.3|          <0> |        0.1|         <0> |         1.53|           <0> |       7.8|        <0> |        15.0|          <0> |          </=15|
|14457|05/31/2018|2023-06-04 13:45:00|          24.2|            <0> |             0.0|              <0> |        17.4|          <0> |        0.1|         <0> |         1.55|           <0> |       7.8|        <0> |        14.0|          <0> |          </=15|
|14458|05/31/2018|2023-06-04 14:00:00|          24.4|            <0> |             0.0|              <0> |        17.4|          <0> |        0.1|         <0> |         1.58|           <0> |       7.8|        <0> |        15.0|          <0> |          </=15|
|14459|05/31/2018|2023-06-04 14:15:00|          24.4|            <0> |             0.0|              <0> |        17.6|          <0> |        0.1|         <0> |         1.58|           <0> |       7.8|        <0> |        14.0|          <0> |          </=15|
|14460|05/31/2018|2023-06-04 14:30:00|          24.3|            <0> |             0.0|              <0> |        17.4|          <0> |        0.1|         <0> |         1.58|           <0> |       7.8|        <0> |        15.0|          <0> |          </=15|
|14461|05/31/2018|2023-06-04 14:45:00|          24.7|            <0> |             0.0|              <0> |        17.7|          <0> |        0.1|         <0> |         1.57|           <0> |       7.9|        <0> |        14.0|          <0> |          </=15|
|14462|05/31/2018|2023-06-04 15:00:00|          24.4|            <0> |             0.0|              <0> |        17.6|          <0> |        0.1|         <0> |         1.59|           <0> |       7.8|        <0> |        13.0|          <0> |          </=15|
|14463|05/31/2018|2023-06-04 15:15:00|          24.4|            <0> |             0.0|              <0> |        17.8|          <0> |        0.1|         <0> |          1.6|           <0> |       7.9|        <0> |        13.0|          <0> |          </=15|
|14464|05/31/2018|2023-06-04 15:30:00|          24.1|            <0> |             0.0|              <0> |        17.9|          <0> |        0.1|         <0> |          1.6|           <0> |       7.9|        <0> |        12.0|          <0> |          </=15|
|14465|05/31/2018|2023-06-04 15:45:00|          24.1|            <0> |             0.0|              <0> |        17.9|          <0> |        0.1|         <0> |         1.61|           <0> |       7.9|        <0> |        13.0|          <0> |          </=15|
|14466|05/31/2018|2023-06-04 16:00:00|          24.2|            <0> |             0.0|              <0> |        17.9|          <0> |        0.1|         <0> |         1.58|           <0> |       7.9|        <0> |        13.0|          <0> |          </=15|
|14467|05/31/2018|2023-06-04 16:15:00|          24.6|            <0> |             0.0|              <0> |        17.9|          <0> |        0.1|         <0> |         1.62|           <0> |       7.9|        <0> |        13.0|          <0> |          </=15|
|14468|05/31/2018|2023-06-04 16:30:00|          24.7|            <0> |             0.0|              <0> |        18.1|          <0> |        0.1|         <0> |          1.6|           <0> |       7.9|        <0> |        14.0|          <0> |          </=15|
|14469|05/31/2018|2023-06-04 16:45:00|          24.8|            <0> |             0.0|              <0> |        18.1|          <0> |        0.1|         <0> |         1.58|           <0> |       7.9|        <0> |        11.0|          <0> |          </=15|
|14470|05/31/2018|2023-06-04 17:00:00|          24.7|            <0> |             0.0|              <0> |        18.0|          <0> |        0.1|         <0> |          1.6|           <0> |       7.8|        <0> |        12.0|          <0> |          </=15|
|14471|05/31/2018|2023-06-04 17:15:00|          24.4|            <0> |             0.0|              <0> |        18.1|          <0> |        0.1|         <0> |         1.58|           <0> |       7.9|        <0> |        12.0|          <0> |          </=15|
|14472|05/31/2018|2023-06-04 17:30:00|          24.2|            <0> |             0.0|              <0> |        18.1|          <0> |        0.1|         <0> |         1.54|           <0> |       7.9|        <0> |        13.0|          <0> |          </=15|
|14473|05/31/2018|2023-06-04 17:45:00|          24.1|            <0> |             0.0|              <0> |        18.2|          <0> |        0.1|         <0> |         1.53|           <0> |       7.9|        <0> |        12.0|          <0> |          </=15|
+-----+----------+-------------------+--------------+----------------+----------------+------------------+------------+--------------+-----------+-------------+-------------+---------------+----------+------------+------------+--------------+---------------+
only showing top 20 rows

In [7]:
# Create our temporary view
df.createOrReplaceTempView('turbidity')

In [ ]:
from pysaprk.sql.functions import split
split_col = split(df['Date'],'/')
df = df.withColumn('D')

In [ ]:
# We can perform most any SQL action at this point
# here we are converting the date to a more workable date object
#NOTE: since we are not assigning this to a dataframe the change is not saved.
spark.sql("""SELECT show_id, 
   type, 
   title, 
   country, 
   TO_DATE(date_added, 'MMMM d, yyyy') 
   AS date_added, 
   release_year, 
   rating, 
   duration 
   FROM movies 
   WHERE date_added IS NOT null AND type='Movie'""").show(10)

In [ ]:
# All of the SQL you learned in Unit 6 is available to you in Spark SQL
# Here we are listing out the counts by rating
# NOTE: it is almost NEVER a good idea to "order by" when using Spark with large datasets (more on this in 8.2)
spark.sql("""
  SELECT
    rating,
    count(*) AS number_of_ratings
  FROM movies
  GROUP BY rating
  ORDER BY 2 DESC
  """).show()

In [ ]:
# Let's output a file with just listing for children
# first we will use our spark sql to write to a dataframe

out_df= spark.sql("""
  SELECT 
  title,
  rating,
  date_added,
  duration
  FROM Movies
  WHERE rating IN ('G','PG', 'PG-13')""")

# Make sure we got what we wanted
out_df.show()

In [ ]:
#  As Spark stores the data in partitions, it will also write data in partitions.
#  These partitions will always be stored in a folder with the same name as the file, and that folder may often contain many subfolders or files.
#  Within the partition folder, there will be a file or files that starts with `part-`, these are CSV files. 
# However, they are often not optimal for friendly reading, but can be downloaded to your computer.

out_df.write.csv('movies_out_spark.csv')

In [ ]:
# The easiest work around of the part file output is to take the data to Pandas and write out a CSV.
# This forces the data to the master node and is not recommended unless you have filtered and/or aggregated your data to a reasonable size.

out_df.toPandas().to_csv('movies_out_pandas.csv')