In [1]:
# Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
# Read the CSV file into a Pandas DataFrame
old_df = pd.read_csv(
    Path('5_summer_turbidity.csv')   
)

# Review the DataFrame
old_df.head()

,Unnamed: 0,Date,LKSPOMET_ATemp,LKSBAWQ_ChlFluor,LKSBAWQ_Temp,LKSPOMET_WSpd,LKSBAWQ_Depth,LKSBAWQ_pH,LKSBAWQ_Turb,Turbidity_Range,Month,Day,Year
0,0,06/01/2022,14.470833,9.479167,14.061458,1.895833,1.229271,7.500000,13.218750,</=15,6,1,2022
1,1,06/02/2022,15.936458,8.915625,14.568750,2.660417,1.188958,7.477083,11.458333,</=15,6,2,2022
2,2,06/03/2022,12.998958,8.331250,15.028125,3.745833,1.208750,7.522917,11.062500,</=15,6,3,2022
3,3,06/04/2022,16.417708,9.055208,15.969792,1.981250,1.231667,7.500000,10.197917,</=10,6,4,2022
4,4,06/05/2022,9.801042,9.984375,16.790625,1.476042,1.223125,7.493750,9.395833,</=10,6,5,2022

In [3]:
df = old_df[[       'Month',
                     #'LKSPOMET_ATemp', 
                     'LKSBAWQ_Temp',
                    'LKSBAWQ_ChlFluor',
                    'LKSBAWQ_Temp', 
                    #'LKSPOMET_WSpd', 
                    'LKSBAWQ_Depth',
                    'LKSBAWQ_pH',
                     'Turbidity_Range',
                   ]]
df.head()

,Month,LKSBAWQ_Temp,LKSBAWQ_ChlFluor,LKSBAWQ_Temp,LKSBAWQ_Depth,LKSBAWQ_pH,Turbidity_Range
0,6,14.061458,9.479167,14.061458,1.229271,7.500000,</=15
1,6,14.568750,8.915625,14.568750,1.188958,7.477083,</=15
2,6,15.028125,8.331250,15.028125,1.208750,7.522917,</=15
3,6,15.969792,9.055208,15.969792,1.231667,7.500000,</=10
4,6,16.790625,9.984375,16.790625,1.223125,7.493750,</=10

In [4]:
#print(df['Month'].to_list())

### 2. Separate the features `X` from the target `y`

In [5]:
# Seperate the features, X,  from the target variable, y
y = df['Turbidity_Range']
X = df.drop(columns='Turbidity_Range')

In [6]:
# Preview the features data
X.head()

,Month,LKSBAWQ_Temp,LKSBAWQ_ChlFluor,LKSBAWQ_Temp,LKSBAWQ_Depth,LKSBAWQ_pH
0,6,14.061458,9.479167,14.061458,1.229271,7.500000
1,6,14.568750,8.915625,14.568750,1.188958,7.477083
2,6,15.028125,8.331250,15.028125,1.208750,7.522917
3,6,15.969792,9.055208,15.969792,1.231667,7.500000
4,6,16.790625,9.984375,16.790625,1.223125,7.493750

In [7]:
# Preview the first five entries for the target variable
y[:5]

0    </=15
1    </=15
2    </=15
3    </=10
4    </=10
Name: Turbidity_Range, dtype: object

### 3. Encode the categorical variables from the features data using `get_dummies`.

In [8]:
# Encode the categorical variables using get_dummies
X = pd.get_dummies(X)

In [9]:
# Review the features data
X.head()

,Month,LKSBAWQ_Temp,LKSBAWQ_ChlFluor,LKSBAWQ_Temp,LKSBAWQ_Depth,LKSBAWQ_pH
0,6,14.061458,9.479167,14.061458,1.229271,7.500000
1,6,14.568750,8.915625,14.568750,1.188958,7.477083
2,6,15.028125,8.331250,15.028125,1.208750,7.522917
3,6,15.969792,9.055208,15.969792,1.231667,7.500000
4,6,16.790625,9.984375,16.790625,1.223125,7.493750

### 4. Separate the data into training and testing subsets.

In [10]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### 5. Scale the data using `StandardScaler`

In [11]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

### 6. Instantiate an K Nearest Neighbor Classifier instance.

In [12]:
# Import the KNeighborsClassifier module from sklearn
from sklearn.neighbors import KNeighborsClassifier

# Instantiate the KNeighborsClassifier model with n_neighbors = 3 
knn = KNeighborsClassifier(n_neighbors=3)

### 7. Fit the model using the training data.

In [13]:
# Train the model using the training data
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=3)

### 8. Make predictions using the testing data.

In [14]:
# Create predictions using the testing data
y_pred = knn.predict(X_test_scaled)

### 9. Generate the classification report for the test data.

In [15]:
# Print the classification report comparing the testing data to the model predictions
print(classification_report(y_test, y_pred, zero_division=1))

              precision    recall  f1-score   support

       </=10       0.80      0.75      0.77        16
       </=15       0.75      0.82      0.78        11
       </=20       1.00      0.00      0.00         1
        </=5       0.80      0.89      0.84         9

    accuracy                           0.78        37
   macro avg       0.84      0.61      0.60        37
weighted avg       0.79      0.78      0.77        37