In [16]:
# Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [17]:
# Read the CSV file into a Pandas DataFrame
old_df = pd.read_csv(
    Path('8_summer_turbidity.csv')   
)

# Review the DataFrame
old_df.head()

,Unnamed: 0,Date,LKSPOMET_ATemp,LKSPOMET_TotPrcp,LKSBAWQ_Temp,LKSBAWQ_Sal,LKSBAWQ_Depth,LKSBAWQ_pH,LKSBAWQ_Turb,Turbidity_Range,Month,Day,Year
0,0,06/01/2018,7.012903,0.000000,16.662366,0.1,1.673441,7.896774,14.473118,</=15,6,1,2018
1,1,06/01/2019,12.393750,0.000000,15.069792,0.1,2.066562,7.795833,8.875000,</=10,6,1,2019
2,2,06/01/2022,14.470833,0.000000,14.061458,0.1,1.229271,7.500000,13.218750,</=15,6,1,2022
3,3,06/02/2018,5.244792,0.217708,14.355208,0.1,1.607708,7.893750,10.937500,</=10,6,2,2018
4,4,06/02/2019,10.332292,0.000000,15.451042,0.1,2.112500,7.760417,7.916667,</=10,6,2,2019

In [18]:
df = old_df[['Date',
                    'LKSPOMET_ATemp', 
                    'LKSPOMET_TotPrcp',
                    'LKSBAWQ_Temp', 
                    'LKSBAWQ_Depth',
                    'Turbidity_Range',
                   ]]
df.head()

,Date,LKSPOMET_ATemp,LKSPOMET_TotPrcp,LKSBAWQ_Temp,LKSBAWQ_Depth,Turbidity_Range
0,06/01/2018,7.012903,0.000000,16.662366,1.673441,</=15
1,06/01/2019,12.393750,0.000000,15.069792,2.066562,</=10
2,06/01/2022,14.470833,0.000000,14.061458,1.229271,</=15
3,06/02/2018,5.244792,0.217708,14.355208,1.607708,</=10
4,06/02/2019,10.332292,0.000000,15.451042,2.112500,</=10

In [19]:
#print(df['Month'].to_list())

### 2. Separate the features `X` from the target `y`

In [20]:
# Seperate the features, X,  from the target variable, y
y = df['Turbidity_Range']
X = df.drop(columns='Turbidity_Range')

In [21]:
# Preview the features data
X.head()

         Date  LKSPOMET_ATemp  LKSPOMET_TotPrcp  LKSBAWQ_Temp  LKSBAWQ_Depth
0  06/01/2018        7.012903          0.000000     16.662366       1.673441
1  06/01/2019       12.393750          0.000000     15.069792       2.066562
2  06/01/2022       14.470833          0.000000     14.061458       1.229271
3  06/02/2018        5.244792          0.217708     14.355208       1.607708
4  06/02/2019       10.332292          0.000000     15.451042       2.112500

In [22]:
# Preview the first five entries for the target variable
y[:5]

0    </=15
1    </=10
2    </=15
3    </=10
4    </=10
Name: Turbidity_Range, dtype: object

### 3. Encode the categorical variables from the features data using `get_dummies`.

In [23]:
# Encode the categorical variables using get_dummies
X = pd.get_dummies(X)

In [24]:
# Review the features data
X.head()

,LKSPOMET_ATemp,LKSPOMET_TotPrcp,LKSBAWQ_Temp,LKSBAWQ_Depth,Date_06/01/2018,Date_06/01/2019,Date_06/01/2022,Date_06/02/2018,Date_06/02/2019,Date_06/02/2022,...,Date_08/29/2020,Date_08/29/2021,Date_08/30/2018,Date_08/30/2019,Date_08/30/2020,Date_08/30/2021,Date_08/31/2018,Date_08/31/2019,Date_08/31/2020,Date_08/31/2021
0,7.012903,0.000000,16.662366,1.673441,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,12.393750,0.000000,15.069792,2.066562,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14.470833,0.000000,14.061458,1.229271,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5.244792,0.217708,14.355208,1.607708,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10.332292,0.000000,15.451042,2.112500,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### 4. Separate the data into training and testing subsets.

In [25]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### 5. Scale the data using `StandardScaler`

In [26]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

### 6. Instantiate an K Nearest Neighbor Classifier instance.

In [27]:
# Import the KNeighborsClassifier module from sklearn
from sklearn.neighbors import KNeighborsClassifier

# Instantiate the KNeighborsClassifier model with n_neighbors = 3 
knn = KNeighborsClassifier(n_neighbors=3)

### 7. Fit the model using the training data.

In [28]:
# Train the model using the training data
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=3)

### 8. Make predictions using the testing data.

In [29]:
# Create predictions using the testing data
y_pred = knn.predict(X_test_scaled)

### 9. Generate the classification report for the test data.

In [30]:
# Print the classification report comparing the testing data to the model predictions
print(classification_report(y_test, y_pred, zero_division=1))

              precision    recall  f1-score   support

       </=10       0.51      0.46      0.49        41
       </=15       0.43      0.64      0.52        25
       </=20       0.00      0.00      0.00         5
       </=25       1.00      0.00      0.00         1
       </=30       0.00      0.00      0.00         2
       </=35       1.00      0.00      0.00         3
        </=5       0.42      0.36      0.38        14

    accuracy                           0.44        91
   macro avg       0.48      0.21      0.20        91
weighted avg       0.46      0.44      0.42        91