In [1]:
#import libraries 
import pandas as pd
import numpy as np

In [4]:
# The path to our CSV file
merged_data = "Bakers_Island_Data/221315.csv"

# Read our Crowdfunding data into pandas
merged_df = pd.read_csv(merged_data, error_bad_lines=False)
merged_df.head()
len(merged_df)

C:\Users\katel\AppData\Local\Temp\ipykernel_39868\462669636.py:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  merged_df = pd.read_csv(merged_data, error_bad_lines=False)
Skipping line 8643: expected 65 fields, saw 66

Skipping line 17382: expected 65 fields, saw 66

Skipping line 26216: expected 65 fields, saw 66

Skipping line 35049: expected 65 fields, saw 66

Skipping line 43689: expected 65 fields, saw 66

Skipping line 52429: expected 65 fields, saw 66

Skipping line 61264: expected 65 fields, saw 66

Skipping line 70096: expected 65 fields, saw 66

Skipping line 78832: expected 65 fields, saw 66

Skipping line 87568: expected 65 fields, saw 66

Skipping line 96404: expected 65 fields, saw 66

Skipping line 105236: expected 65 fields, saw 66

Skipping line 113876: expected 65 fields, saw 66

Skipping line 122615: expected 65 fields, saw 66

Skipping line 131451: expected 65 fields, saw 66

Skipping line 140286: expected 65 fields, saw 66

Skipping line 148926: expected 65 fields, saw 66

Skipping line 157663: expected 65 fields, saw 66

Skipping line 166498: expected 65 fields, saw 66

C:\Users\katel\AppData\Local\Temp\ipykernel_39868\462669636.py:5: DtypeWarning: Columns (3,17,24,25,27,29,31,33,35,37,39,41,43,45,47,51,53,55,57,59,61,63) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv(merged_data, error_bad_lines=False)

175310

In [5]:
# Get a list of all of our columns for easy reference
merged_df.columns

Index(['DateTimeStamp', 'LKSPOMET_Station_Code', 'LKSPOMET_isSWMP',
       'LKSPOMET_F_Record', 'LKSPOMET_ATemp', 'LKSPOMET_F_ATemp',
       'LKSPOMET_RH', 'LKSPOMET_F_RH', 'LKSPOMET_BP', 'LKSPOMET_F_BP',
       'LKSPOMET_WSpd', 'LKSPOMET_F_WSpd', 'LKSPOMET_MaxWSpd', 'LKSPOMET_Wdir',
       'LKSPOMET_F_Wdir', 'LKSPOMET_SDWDir', 'LKSPOMET_F_SDWDir',
       'LKSPOMET_TotPAR', 'LKSPOMET_F_TotPAR', 'LKSPOMET_TotPrcp',
       'LKSPOMET_F_TotPrcp', 'LKSPOMET_TotSoRad', 'LKSPOMET_F_TotSoRad',
       'LKSBAWQ_Station_Code', 'LKSBAWQ_isSWMP', 'LKSBAWQ_F_Record',
       'LKSBAWQ_Temp', 'LKSBAWQ_F_Temp', 'LKSBAWQ_SpCond', 'LKSBAWQ_F_SpCond',
       'LKSBAWQ_Sal', 'LKSBAWQ_F_Sal', 'LKSBAWQ_DO_pct', 'LKSBAWQ_F_DO_pct',
       'LKSBAWQ_DO_mgl', 'LKSBAWQ_F_DO_mgl', 'LKSBAWQ_Depth',
       'LKSBAWQ_F_Depth', 'LKSBAWQ_cDepth', 'LKSBAWQ_F_cDepth', 'LKSBAWQ_pH',
       'LKSBAWQ_F_pH', 'LKSBAWQ_Turb', 'LKSBAWQ_F_Turb', 'LKSBAWQ_ChlFluor',
       'LKSBAWQ_F_ChlFluor', 'LKSBANUT_Station_Code', 'LKSBANUT_isSWMP',
       'LKSBANUT_DateTimeStamp', 'LKSBANUT_CollMethd', 'LKSBANUT_REP',
       'LKSBANUT_F_Record', 'LKSBANUT_PO4F', 'LKSBANUT_F_PO4F',
       'LKSBANUT_NH4F', 'LKSBANUT_F_NH4F', 'LKSBANUT_NO2F', 'LKSBANUT_F_NO2F',
       'LKSBANUT_NO3F', 'LKSBANUT_F_NO3F', 'LKSBANUT_NO23F',
       'LKSBANUT_F_NO23F', 'LKSBANUT_CHLA_N', 'LKSBANUT_F_CHLA_N',
       'Unnamed: 64'],
      dtype='object')

In [6]:
#Create data frame of prioritized data elements for analysis (water temp, water salinitiy, water depth, water pH, and total precipitation)
new_df = merged_df[['DateTimeStamp',
                    'LKSPOMET_ATemp', 'LKSPOMET_F_ATemp', 
                    'LKSBAWQ_Temp', 'LKSBAWQ_F_Temp',
                    'LKSBAWQ_Sal', 'LKSBAWQ_F_Sal',
                   'LKSBAWQ_Depth','LKSBAWQ_F_Depth', 
                    'LKSBAWQ_pH','LKSBAWQ_F_pH', 
                   'LKSPOMET_TotPrcp','LKSPOMET_F_TotPrcp',
                    'LKSBAWQ_Turb', 'LKSBAWQ_F_Turb'
                   ]]
new_df.head()

,DateTimeStamp,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSBAWQ_Temp,LKSBAWQ_F_Temp,LKSBAWQ_Sal,LKSBAWQ_F_Sal,LKSBAWQ_Depth,LKSBAWQ_F_Depth,LKSBAWQ_pH,LKSBAWQ_F_pH,LKSPOMET_TotPrcp,LKSPOMET_F_TotPrcp,LKSBAWQ_Turb,LKSBAWQ_F_Turb
0,01/01/2018 0:00,-24.5,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
1,01/01/2018 0:15,-24.7,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
2,01/01/2018 0:30,-24.8,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
3,01/01/2018 0:45,-25.0,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]
4,01/01/2018 1:00,-25.2,<0>,NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],NaN,<-2> [GIC],0.0,<-3> (CSM),NaN,<-2> [GIC]

In [7]:
# Check air temperature column values 

#metTemp_Values = new_df['LKSPOMET_F_ATemp'].values.tolist()
#print(metTemp_Values)

In [8]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data)
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
filtered_mettemp_df = new_df[new_df['LKSPOMET_F_ATemp'].isin(quality_codes)]
#filtered_mettemp_df.head()
len(filtered_mettemp_df)

159772

In [9]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data)
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
wqtemp_df = filtered_mettemp_df[filtered_mettemp_df['LKSBAWQ_F_Temp'].isin(quality_codes)]
#wqtemp_df.head()
len(wqtemp_df)

90441

In [10]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSBAWQ_F_Depth
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
sal_df = wqtemp_df[wqtemp_df['LKSBAWQ_F_Sal'].isin(quality_codes)]
#depth_df.head()
len(sal_df)

90190

In [11]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSBAWQ_F_Depth
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
depth_df = sal_df[sal_df['LKSBAWQ_F_Depth'].isin(quality_codes)]
#depth_df.head()
len(depth_df)

84272

In [12]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSBAWQ_F_pH
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
pH_df = depth_df[depth_df['LKSBAWQ_F_pH'].isin(quality_codes)]
#pH_df.head()
len(pH_df)

80417

In [13]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSPOMET_F_TotPrcp
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
precip_df = pH_df[pH_df['LKSPOMET_F_TotPrcp'].isin(quality_codes)]
#precip_df.head()
len(precip_df)

63711

In [14]:
#Exclude data that was flagged (0=Passed Initial QAQC Checks,  5=Corrected Data) LKSBAWQ_F_Turb
quality_codes = ['<0> ', '<0> [GMT]','<5> '];
turbidity_df = precip_df[precip_df['LKSBAWQ_F_Turb'].isin(quality_codes)]
#turbidity_df.head()
len(turbidity_df)

59231

In [15]:
#Check dataframe
turbidity_df.head()

,DateTimeStamp,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSBAWQ_Temp,LKSBAWQ_F_Temp,LKSBAWQ_Sal,LKSBAWQ_F_Sal,LKSBAWQ_Depth,LKSBAWQ_F_Depth,LKSBAWQ_pH,LKSBAWQ_F_pH,LKSPOMET_TotPrcp,LKSPOMET_F_TotPrcp,LKSBAWQ_Turb,LKSBAWQ_F_Turb
14454,05/31/2018 13:00,23.9,<0>,17.2,<0>,0.1,<0>,1.49,<0>,7.8,<0>,0.0,<0>,15.0,<0>
14455,05/31/2018 13:15,24.0,<0>,17.2,<0>,0.1,<0>,1.51,<0>,7.8,<0>,0.0,<0>,15.0,<0>
14456,05/31/2018 13:30,23.9,<0>,17.3,<0>,0.1,<0>,1.53,<0>,7.8,<0>,0.0,<0>,15.0,<0>
14457,05/31/2018 13:45,24.2,<0>,17.4,<0>,0.1,<0>,1.55,<0>,7.8,<0>,0.0,<0>,14.0,<0>
14458,05/31/2018 14:00,24.4,<0>,17.4,<0>,0.1,<0>,1.58,<0>,7.8,<0>,0.0,<0>,15.0,<0>

In [16]:
#Split date and time into separate columns
turbidity_df[['Date','Time']] = turbidity_df.DateTimeStamp.str.split(" ", expand = True)
turbidity_df.head()

C:\Users\katel\AppData\Local\Temp\ipykernel_39868\3236543836.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  turbidity_df[['Date','Time']] = turbidity_df.DateTimeStamp.str.split(" ", expand = True)
C:\Users\katel\AppData\Local\Temp\ipykernel_39868\3236543836.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  turbidity_df[['Date','Time']] = turbidity_df.DateTimeStamp.str.split(" ", expand = True)

,DateTimeStamp,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSBAWQ_Temp,LKSBAWQ_F_Temp,LKSBAWQ_Sal,LKSBAWQ_F_Sal,LKSBAWQ_Depth,LKSBAWQ_F_Depth,LKSBAWQ_pH,LKSBAWQ_F_pH,LKSPOMET_TotPrcp,LKSPOMET_F_TotPrcp,LKSBAWQ_Turb,LKSBAWQ_F_Turb,Date,Time
14454,05/31/2018 13:00,23.9,<0>,17.2,<0>,0.1,<0>,1.49,<0>,7.8,<0>,0.0,<0>,15.0,<0>,05/31/2018,13:00
14455,05/31/2018 13:15,24.0,<0>,17.2,<0>,0.1,<0>,1.51,<0>,7.8,<0>,0.0,<0>,15.0,<0>,05/31/2018,13:15
14456,05/31/2018 13:30,23.9,<0>,17.3,<0>,0.1,<0>,1.53,<0>,7.8,<0>,0.0,<0>,15.0,<0>,05/31/2018,13:30
14457,05/31/2018 13:45,24.2,<0>,17.4,<0>,0.1,<0>,1.55,<0>,7.8,<0>,0.0,<0>,14.0,<0>,05/31/2018,13:45
14458,05/31/2018 14:00,24.4,<0>,17.4,<0>,0.1,<0>,1.58,<0>,7.8,<0>,0.0,<0>,15.0,<0>,05/31/2018,14:00

In [17]:
#Define new data frame dropping the combined DTS
new_turbidity_df = turbidity_df[['Date', 'Time',
                    'LKSPOMET_ATemp', 'LKSPOMET_F_ATemp', 
                    'LKSPOMET_TotPrcp','LKSPOMET_F_TotPrcp',
                    'LKSBAWQ_Temp', 'LKSBAWQ_F_Temp',
                    'LKSBAWQ_Sal', 'LKSBAWQ_F_Sal',
                   'LKSBAWQ_Depth','LKSBAWQ_F_Depth', 
                    'LKSBAWQ_pH','LKSBAWQ_F_pH', 
                    'LKSBAWQ_Turb', 'LKSBAWQ_F_Turb'
                   ]]
new_turbidity_df.head()

,Date,Time,LKSPOMET_ATemp,LKSPOMET_F_ATemp,LKSPOMET_TotPrcp,LKSPOMET_F_TotPrcp,LKSBAWQ_Temp,LKSBAWQ_F_Temp,LKSBAWQ_Sal,LKSBAWQ_F_Sal,LKSBAWQ_Depth,LKSBAWQ_F_Depth,LKSBAWQ_pH,LKSBAWQ_F_pH,LKSBAWQ_Turb,LKSBAWQ_F_Turb
14454,05/31/2018,13:00,23.9,<0>,0.0,<0>,17.2,<0>,0.1,<0>,1.49,<0>,7.8,<0>,15.0,<0>
14455,05/31/2018,13:15,24.0,<0>,0.0,<0>,17.2,<0>,0.1,<0>,1.51,<0>,7.8,<0>,15.0,<0>
14456,05/31/2018,13:30,23.9,<0>,0.0,<0>,17.3,<0>,0.1,<0>,1.53,<0>,7.8,<0>,15.0,<0>
14457,05/31/2018,13:45,24.2,<0>,0.0,<0>,17.4,<0>,0.1,<0>,1.55,<0>,7.8,<0>,14.0,<0>
14458,05/31/2018,14:00,24.4,<0>,0.0,<0>,17.4,<0>,0.1,<0>,1.58,<0>,7.8,<0>,15.0,<0>

In [18]:
average_measurement_df = new_turbidity_df.groupby('Date').mean()
average_measurement_df.head()

C:\Users\katel\AppData\Local\Temp\ipykernel_39868\3936475452.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_measurement_df = new_turbidity_df.groupby('Date').mean()

,LKSPOMET_ATemp,LKSPOMET_TotPrcp,LKSBAWQ_Temp,LKSBAWQ_Sal,LKSBAWQ_Depth,LKSBAWQ_pH,LKSBAWQ_Turb
Date,,,,,,,
05/11/2022,8.368750,0.368750,12.458333,0.1,1.216250,7.706250,11.812500
05/12/2022,10.997917,0.180208,11.485417,0.1,1.153750,7.612500,19.645833
05/13/2022,11.973958,0.060417,11.833333,0.1,1.139271,7.602083,18.802083
05/14/2019,16.433333,0.014815,12.425926,0.1,2.018704,7.616667,8.555556
05/14/2022,15.015625,0.000000,13.057292,0.1,1.129479,7.572917,16.416667

In [22]:
#Add ranges for turbidity 
conditions_5 = [
    average_measurement_df['LKSBAWQ_Turb'] < 6,
    average_measurement_df['LKSBAWQ_Turb'] < 11,
    average_measurement_df['LKSBAWQ_Turb'] < 16,
    average_measurement_df['LKSBAWQ_Turb'] < 21,
    average_measurement_df['LKSBAWQ_Turb'] < 26,
    average_measurement_df['LKSBAWQ_Turb'] < 31,
    average_measurement_df['LKSBAWQ_Turb'] < 36,
    average_measurement_df['LKSBAWQ_Turb'] < 41,
    average_measurement_df['LKSBAWQ_Turb'] < 46,
    average_measurement_df['LKSBAWQ_Turb'] < 51,
    average_measurement_df['LKSBAWQ_Turb'] < 56,
    average_measurement_df['LKSBAWQ_Turb'] < 61,
    average_measurement_df['LKSBAWQ_Turb'] < 66,
    average_measurement_df['LKSBAWQ_Turb'] < 71,
    average_measurement_df['LKSBAWQ_Turb'] < 76,
    average_measurement_df['LKSBAWQ_Turb'] < 81,
    average_measurement_df['LKSBAWQ_Turb'] < 86,
    average_measurement_df['LKSBAWQ_Turb'] < 91,
    average_measurement_df['LKSBAWQ_Turb'] < 96,
    average_measurement_df['LKSBAWQ_Turb'] < 101
]

outputs = ["</=5","</=10","</=15","</=20","</=25","</=30","</=35","</=40","</=45",
          "</=50","</=55","</=60","</=65","</=70","</=75","</=80","</=85","</=90",
          "</=95", "</=100"]

average_measurement_10_df = average_measurement_df
average_measurement_10_df['Turbidity_Range'] = np.select(conditions_5, outputs)
average_measurement_10_df.head()

,LKSPOMET_ATemp,LKSPOMET_TotPrcp,LKSBAWQ_Temp,LKSBAWQ_Sal,LKSBAWQ_Depth,LKSBAWQ_pH,LKSBAWQ_Turb,Turbidity_Range
Date,,,,,,,,
05/11/2022,8.368750,0.368750,12.458333,0.1,1.216250,7.706250,11.812500,</=15
05/12/2022,10.997917,0.180208,11.485417,0.1,1.153750,7.612500,19.645833,</=20
05/13/2022,11.973958,0.060417,11.833333,0.1,1.139271,7.602083,18.802083,</=20
05/14/2019,16.433333,0.014815,12.425926,0.1,2.018704,7.616667,8.555556,</=10
05/14/2022,15.015625,0.000000,13.057292,0.1,1.129479,7.572917,16.416667,</=20

In [ ]:
#Add ranges for turbidity 
conditions_10 = [
    average_measurement_df['LKSBAWQ_Turb'] < 11,
    average_measurement_df['LKSBAWQ_Turb'] < 21,
    average_measurement_df['LKSBAWQ_Turb'] < 31,
    average_measurement_df['LKSBAWQ_Turb'] < 41,
    average_measurement_df['LKSBAWQ_Turb'] < 51,
    average_measurement_df['LKSBAWQ_Turb'] < 61,
    average_measurement_df['LKSBAWQ_Turb'] < 71,
    average_measurement_df['LKSBAWQ_Turb'] < 81,
    average_measurement_df['LKSBAWQ_Turb'] < 91,
    average_measurement_df['LKSBAWQ_Turb'] < 101
]

outputs = ["</=10","</=20","</=30","</=40",
          "</=50","</=60","</=70","</=80","</=90", "</=100"]


average_measurement_5_df = average_measurement_df
average_measurement_5_df['Turbidity_Range'] = np.select(conditions_5, outputs)
average_measurement_5_df.head()

In [24]:
#Export cleaned filtered data to new csv
average_measurement_5_df.to_csv('turbidity_df5.csv')

In [ ]:
#Export cleaned filtered data to new csv
average_measurement_10_df.to_csv('turbidity_df5.csv')